.akatosh{
    display: flex;
    position: absolute;
    max-height: 300px;
    height: relative;
    width: relative;
    max-width: 300px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-weight: bold;
    text-decoration: underline;
}
article{
    color:white;
}

.container_plaque{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.full_container > article{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    opacity: 0.5;
}
*/
@media screen and (max-width:1000px) {
.akatosh{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
    flex-direction: row;
    
}
}