.weapon1, .weapon2, .weapon3, .weapon4, .armor{
    display: flex;
    color: white;
    font-size: large;
    margin-top: 10px;
    flex-direction: column;
    opacity: 1;
    margin-bottom: 2%;
}

.armory{
    width: relative;
    max-width: 300px;
    max-height: 300px;
    height: relative;
    border: 3px;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
}

.jarthol, .asdrik, .leercrit, .hitoxnul, .bordun {
    display: block;
    color: white;
    border: 2px;
    border-color: red;
    border-radius: 5px;
    border-style: solid;
    background-color: rgb(255,0,0,0.5);
    opacity: 0.5;
}
