body{
    background-image: url("./img/Background_computer.png");
    background-position:49% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    margin:0; } 


header{
    display: flex;
    background-color: gray;
    height: 75px;
    width: 100%;
}

footer{
    display: flex;
    background-color: gray;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: large;
    gap: 10px;
    
}
a{
    color: white;
    text-decoration: none;
}
.icon{
    float: left;
    height: 75px;
}

.Plaque{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 400px;
    height: 350px;
    margin-left:auto ;
    margin-right: auto;
}

.Plaque_text{
    display: flex; 
    position: absolute;
    text-align: center;
    justify-content: center;
    align-self: center;
    color: darkred;
    font-weight: bold;
    font-size: 40px;
}
.Quote{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_quote{
    display: flex;
    margin-top: 15%;
    justify-content: center;
}
h2{
    color:white;
    margin-top:20px;
    text-align: center;
}

@media screen and (max-width:1000px) {
    body {
        background-image: url("./img/Background_mobile.jpeg");
        background-position: 53.7% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;   
    } 
    .Plaque_text{
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-self: center;
        color: darkred;
        font-weight: bold;
        font-size: 25px;
    }
    .Quote{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
    }
    .Plaque{
        height: 250px;
        width: 250px;
    }
}